body{
  background-color: darkgray;
}

.task-input{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.task-input > input{
  width: 250px;
  height: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.task-input > button{
  background-color:cornflowerblue;
  color: aliceblue;
  border-radius: 5px;
  width: 100px;
  height: 25px;
}

.task-display{
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  background-color: thistle;
  display: flex;
  align-items: center;
  padding: 5px;
}

.actions > button{
  background-color: tomato;
  color: aliceblue;
  border-radius: 3px; 
}